@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Fix untuk AlpineJS */
[x-cloak] { 
    display: none !important; 
}

/* 2. Custom Background */
/* Bagian ini HARUS ada di bawah @tailwind base */
@layer base {
    body {
        background-color: #F8FAFC;
        background-image:
            radial-gradient(at 0% 0%, hsla(213,100%,88%,1) 0, transparent 50%),
            radial-gradient(at 100% 100%, hsla(189,100%,88%,1) 0, transparent 50%);
        background-attachment: fixed;
    }
} 